<div fxLayout="column" fxLayoutGap="20px">
  <mat-card>
    <mat-card-title>
      <div mat-tab-nav-bar>
        <a mat-tab-link (click)="setFaction(Faction.REBEL)" [active]="faction === Faction.REBEL">
          <i class="xwing-miniatures-font xwing-miniatures-font-rebel">&nbsp;</i>
          {{'data.factions.rebel' | translate}}
        </a>
        <a mat-tab-link (click)="setFaction(Faction.IMPERIAL)" [active]="faction === Faction.IMPERIAL">
          <i class="xwing-miniatures-font xwing-miniatures-font-empire">&nbsp;</i>
          {{'data.factions.imperial' | translate}}
        </a>
        <a mat-tab-link (click)="setFaction(Faction.SCUM)" [active]="faction === Faction.SCUM">
          <i class="xwing-miniatures-font xwing-miniatures-font-scum">&nbsp;</i>
          {{'data.factions.scum' | translate}}
        </a>
      </div>
    </mat-card-title>

    <mat-card-content>
      <xwh-ship-selector (shipChange)="addShip($event)" [faction]="faction" #shipSelector></xwh-ship-selector>
    </mat-card-content>
  </mat-card>

  <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start start">

    <div fxFlex="grow">
      <mat-card *ngFor="let selectedPilot of selectedPilots; let index = index"
                (mouseenter)="previewPilot = selectedPilot.pilot">
        <mat-card-title>

          <!-- show pilot name if selected -->
          <xwh-pilot-name *ngIf="selectedPilot.pilot" [pilot]="selectedPilot.pilot"></xwh-pilot-name>
          <!-- show ship name if no pilot selected -->
          <xwh-ship-name *ngIf="!selectedPilot.pilot" [ship]="selectedPilot.ship"></xwh-ship-name>

        </mat-card-title>

        <mat-card-content fxLayout="row" fxLayoutGap="10px">

          <div>
            <xwh-ship-selector [(ship)]="selectedPilot.ship"
                               [faction]="faction">
            </xwh-ship-selector>
            <br/>
            <xwh-pilot-selector [ship]="selectedPilot.ship"
                                [(pilot)]="selectedPilot.pilot"
                                [faction]="faction">
            </xwh-pilot-selector>
          </div>

          <div *ngIf="selectedPilot.pilot" fxFlex="grow">
            <ng-container *ngFor="let slot of selectedPilot.pilot.slots; let index = index">
              <xwh-upgrade-selector [upgradeType]="slot"></xwh-upgrade-selector>
            </ng-container>
          </div>

        </mat-card-content>

        <mat-card-actions>
          <button mat-button (click)="selectedPilots.splice(index, 1); previewPilot = null">REMOVE</button>
        </mat-card-actions>
      </mat-card>
    </div>

    <mat-card fxFlex="350px">
      <mat-card-title>
        <xwh-pilot-name *ngIf="previewPilot" [pilot]="previewPilot"></xwh-pilot-name>
        <span *ngIf="!previewPilot">PREVIEW</span>
      </mat-card-title>
      <mat-card-content>
        <xwh-pilot-details [pilot]="previewPilot"></xwh-pilot-details>
      </mat-card-content>
    </mat-card>
  </div>
</div>
