<div fxLayout="column" fxLayoutGap="20px">
  <mat-card class="mat-typography">
    <mat-card-title>
      <div mat-tab-nav-bar>
        <a mat-tab-link (click)="setFaction(Faction.REBEL)" [active]="squadron.faction === Faction.REBEL">
          <i class="xwing-miniatures-font xwing-miniatures-font-rebel">&nbsp;</i>
          {{'ui.factions.rebel' | translate}}
        </a>
        <a mat-tab-link (click)="setFaction(Faction.IMPERIAL)" [active]="squadron.faction === Faction.IMPERIAL">
          <i class="xwing-miniatures-font xwing-miniatures-font-empire">&nbsp;</i>
          {{'ui.factions.imperial' | translate}}
        </a>
        <a mat-tab-link (click)="setFaction(Faction.SCUM)" [active]="squadron.faction === Faction.SCUM">
          <i class="xwing-miniatures-font xwing-miniatures-font-scum">&nbsp;</i>
          {{'ui.factions.scum' | translate}}
        </a>
      </div>

      <br/>
      {{squadron.name}}
      <span class="lightweight">({{squadron.cost}})</span>
    </mat-card-title>

    <mat-card-content>
      <mat-form-field>
        <input matInput [placeholder]="'ui.general.squadron' | translate" [(ngModel)]="squadron.name">
      </mat-form-field>
      <xwh-ship-selector (shipChange)="addShip($event)" [faction]="squadron.faction" #shipSelector></xwh-ship-selector>
    </mat-card-content>
  </mat-card>

  <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start start">

    <div fxFlex="grow" class="mat-typography">
      <mat-card *ngFor="let squadronShip of squadron.ships; let shipIndex = index"
                (mouseenter)="previewPilot = squadronShip.pilot">
        <mat-card-title>

          <!-- show pilot name if selected -->
          <xwh-pilot-name *ngIf="squadronShip.pilot" [pilot]="squadronShip.pilot"></xwh-pilot-name>
          <!-- show ship name if no pilot selected -->
          <xwh-ship-name *ngIf="!squadronShip.pilot" [ship]="squadronShip.ship"></xwh-ship-name>

          <span class="lightweight" *ngIf="squadronShip.pilot && squadronShip.ship">({{squadronShip.cost}})</span>
        </mat-card-title>

        <mat-card-content fxLayout="row" fxLayoutGap="10px">

          <div>
            <xwh-ship-selector [(ship)]="squadronShip.ship"
                               [faction]="squadron.faction">
            </xwh-ship-selector>
            <br/>
            <xwh-pilot-selector [(pilot)]="squadronShip.pilot"
                                [ship]="squadronShip.ship"
                                [faction]="squadron.faction"
                                [squadron]="squadron"
                                [squadronIndex]="shipIndex">
            </xwh-pilot-selector>
          </div>

          <div *ngIf="squadronShip.pilot" fxFlex="grow">
            <ng-container *ngFor="let slot of squadronShip.pilot.slots; let upgradeIndex = index">
              <xwh-upgrade-selector [upgradeType]="slot"
                                    [(upgrade)]="squadronShip.upgrades[upgradeIndex]"
                                    [squadron]="squadron"
                                    [squadronIndex]="shipIndex">
              </xwh-upgrade-selector>
            </ng-container>
          </div>

        </mat-card-content>

        <mat-card-actions>
          <button mat-button (click)="removeShip(shipIndex)">REMOVE</button>
        </mat-card-actions>
      </mat-card>
    </div>

    <mat-card fxFlex="350px">
      <mat-card-title>
        <xwh-pilot-name *ngIf="previewPilot" [pilot]="previewPilot"></xwh-pilot-name>
        <span *ngIf="!previewPilot">PREVIEW</span>
      </mat-card-title>
      <mat-card-content>
        <xwh-pilot-details [pilot]="previewPilot"></xwh-pilot-details>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<button mat-button (click)="echoSquadron()">ECHO</button>
