<mat-form-field>
  <mat-select [(value)]="upgrade"
              (valueChange)="upgradeChange.emit($event)"
              [placeholder]="'ui.upgrades.' + upgradeType | translate">

    <mat-select-trigger *ngIf="upgrade" [class.limited]="upgrade.isLimited">
      <i *ngIf="upgrade.isUnique"
         class="xwing-miniatures-font xwing-miniatures-font-unique inline"> </i>
      {{'data.upgrades.' + upgradeType + '.' + upgrade.id + '.name' | translate}}
      <span class="lightweight">({{upgrade.cost}})</span>
    </mat-select-trigger>

    <mat-option>{{'ui.general.none' | translate}}</mat-option>

    <ng-container *ngFor="let option of allUpgrades">
      <mat-option *ngIf="upgradeType !== UpgradeType.TITLE || !option.notUseable"
                  [value]="option.upgrade"
                  [disabled]="(option.alreadyUsed || option.notUseable) && (!upgrade || upgrade.id !== option.upgrade.id)"
                  [class.limited]="option.upgrade.isLimited">
        <i *ngIf="option.upgrade.isUnique"
           class="xwing-miniatures-font xwing-miniatures-font-unique inline"> </i>
        {{'data.upgrades.' + upgradeType + '.' + option.upgrade.id + '.name' | translate}}
        <span class="lightweight">({{option.upgrade.cost}})</span>
      </mat-option>
    </ng-container>

  </mat-select>
</mat-form-field>
