<h1 mat-dialog-title>Select a pilot :)</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-select [value]="ship" (valueChange)="onShipChange($event)" [placeholder]="'ui.general.ship' | translate">
      <mat-select-trigger *ngIf="ship">
        <i [class]="'xwing-miniatures-ship inline xwing-miniatures-ship-' + ship.id"></i>
        {{'data.ships.' + ship.id | translate}}
      </mat-select-trigger>
      <mat-option *ngFor="let ship of allShips" [value]="ship">
        <i [class]="'xwing-miniatures-ship inline xwing-miniatures-ship-' + ship.id"></i>
        {{'data.ships.' + ship.id | translate}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-select [(value)]="pilot" [disabled]="shipPilots.length === 0" [placeholder]="'ui.general.pilot' | translate">
      <mat-select-trigger *ngIf="pilot">
        <i *ngIf="pilot.isUnique" class="xwing-miniatures-font xwing-miniatures-font-unique inline"></i>
        {{'data.pilots.' + pilot.id + '.name' | translate}}
      </mat-select-trigger>
      <mat-option *ngFor="let pilot of shipPilots" [value]="pilot">
        <i *ngIf="pilot.isUnique" class="xwing-miniatures-font xwing-miniatures-font-unique inline"></i>
        {{'data.pilots.' + pilot.id + '.name' | translate}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <xwh-pilot-details [pilot]="pilot"></xwh-pilot-details>
</div>

<div mat-dialog-actions>
  <button mat-button [disabled]="!ship || !pilot" (click)="onAdd()">
    addddddd
  </button>
</div>
