<div *ngIf="pilot" class="mat-typography">

  <h1>
    <i *ngIf="pilot.isUnique" class="xwing-miniatures-font xwing-miniatures-font-unique inline"> </i>
    {{'data.pilots.' + pilot.id + '.name' | translate}}
  </h1>

  <xwh-ship-stats [ship]="ship" [pilot]="pilot"></xwh-ship-stats>

  <i>{{'data.ships.' + ship.id | translate}}</i>

  <p [innerHtml]="pilot.isUnique ? ('data.pilots.' + pilot.id + '.description' | translate | icons) : ''"></p>

  <div fxLayout="row" fxLayoutAlign="center">
    <xwh-maneuver [ship]="ship" [faction]="pilot.faction"></xwh-maneuver>
  </div>
</div>
