<mat-toolbar color="primary">
  <mat-toolbar-row>X-Wing Hangar</mat-toolbar-row>
</mat-toolbar>

<mat-card>
  <mat-card-content>
    <mat-form-field>
      <mat-select [value]="ship" (valueChange)="onShipChange($event)">
        <mat-option *ngFor="let ship of allShips" [value]="ship">{{'data.ships.' + ship.id | translate}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select [(value)]="pilot">
        <mat-option *ngFor="let pilot of shipPilots" [value]="pilot">{{'data.pilots.' + pilot.id + '.name' | translate}}</mat-option>
      </mat-select>
    </mat-form-field>

    <xwh-pilot-details [pilot]="pilot"></xwh-pilot-details>
  </mat-card-content>
</mat-card>

