<mat-form-field>
  <mat-select [(value)]="pilot" (valueChange)="pilotChange.emit($event)" [disabled]="allPilots.length === 0" [placeholder]="'ui.general.pilot' | translate">
    <mat-select-trigger *ngIf="pilot">
      <xwh-pilot-name [pilot]="pilot"></xwh-pilot-name>
      <span class="lightweight">({{pilot.cost}})</span>
    </mat-select-trigger>
    <mat-option *ngFor="let option of allPilots" [value]="option.pilot" [disabled]="option.alreadyUsed && (!pilot || pilot.id !== option.pilot.id)">
      <xwh-pilot-name [pilot]="option.pilot"></xwh-pilot-name>
      <span class="lightweight">({{option.pilot.cost}})</span>
    </mat-option>
  </mat-select>
</mat-form-field>
