@import '~normalize.css/normalize.css';
@import 'app-theme';

i.xwing-miniatures-ship.inline,
i.xwing-miniatures-font.inline {
  line-height: 0;
}

.limited {
  font-style: italic;
}

.lightweight {
  opacity: 0.75;
}
